-- Adicionar campos para tracking de cooldown na tabela user_progress
ALTER TABLE IF EXISTS user_progress
ADD COLUMN IF NOT EXISTS last_like_review TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS last_inspector_review TIMESTAMP WITH TIME ZONE,
ADD COLUMN IF NOT EXISTS last_wheel_spin TIMESTAMP WITH TIME ZONE;

-- Atualizar a função check_and_reset_timers para usar os novos campos
CREATE OR REPLACE FUNCTION check_and_reset_timers()
RETURNS TRIGGER AS $$
DECLARE
    settings record;
    review_reset_hours INTEGER := 6; -- 6 horas por padrão
    wheel_reset_hours INTEGER := 24; -- 24 horas por padrão
BEGIN
    -- Tentar obter configurações do sistema
    BEGIN
        SELECT * INTO settings FROM system_settings WHERE id = 'default';
        IF FOUND THEN
            review_reset_hours := settings.review_reset_hours;
            wheel_reset_hours := settings.wheel_reset_hours;
        END IF;
    EXCEPTION
        WHEN OTHERS THEN
            -- Usar valores default
            review_reset_hours := 6;
            wheel_reset_hours := 24;
    END;
    
    -- Verificar e resetar contador de avaliações do Like for Money
    IF NEW.last_like_review IS NULL OR 
       (EXTRACT(EPOCH FROM (NOW() - NEW.last_like_review)) / 3600) >= review_reset_hours THEN
        NEW.like_reviews_completed := 0;
    END IF;
    
    -- Verificar e resetar contador de avaliações do Inspector
    IF NEW.last_inspector_review IS NULL OR 
       (EXTRACT(EPOCH FROM (NOW() - NEW.last_inspector_review)) / 3600) >= review_reset_hours THEN
        NEW.inspector_reviews_completed := 0;
    END IF;
    
    -- Verificar e resetar contador de rodas
    IF NEW.last_wheel_spin IS NULL OR 
       (EXTRACT(EPOCH FROM (NOW() - NEW.last_wheel_spin)) / 3600) >= wheel_reset_hours THEN
        NEW.wheels_remaining := 1; -- Resetar para 1 roda por dia
    END IF;
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Verificar se o trigger já existe e criar se não existir
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM pg_trigger
        WHERE tgname = 'before_update_user_progress'
    ) THEN
        CREATE TRIGGER before_update_user_progress
        BEFORE UPDATE ON user_progress
        FOR EACH ROW
        EXECUTE FUNCTION check_and_reset_timers();
    END IF;
END $$;
